.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 0.5rem;
  z-index: 999;
  top: 0;
  background-color: #1E1B1E;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: auto;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
}

.projects{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 5rem;
  padding-right: 5rem;
}

.section-projects {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.section-home {
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.language{
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.react{
  border: 2px solid #61DBFA;
  background-color: #306b79;
}

.css{
  border: 2px solid #274DE5;
  background-color: #152979;
}

.start{
  justify-content: start;
  align-items: center;
  display: flex;
  width: 70%;
}

.end{
  justify-content: end;
  align-items: center;
  display: flex;
}

.title{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #8325FD;
}

.subtitle{
  font-size: 1.5rem;
  color: #D0CCC7;
}

.purple{
  color: #8325FD;
  margin: 0;
  margin-top: 1rem;
  font-weight: lighter;
}

img{
  border-radius: 0.5rem;
}

.white{
  color: #FEFEFE;
  font-size: 2rem;
}

ul{
  padding: 0;
}

li{
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.parrafo{
  font-size: 1.5rem;
}

.img{
  margin-bottom: 1rem;
}

.project-card {
  display: flex;
  width: 25rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/pomodoro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-card:hover::before {
  opacity: 0.5; 
}

.project-card-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: top 0.3s ease;
  opacity: 0;
  background-color: transparent;
}

.project-card:hover .project-card-content {
  top: 0;
  opacity: 1;
}

.project-card-timer {
  display: flex;
  width: 25rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.project-card-idle{
  display: flex;
  width: 25rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.project-card-timer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/timer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-card-timer:hover::before {
  opacity: 0.5; 
}

.project-card-idle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/idle.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-card-idle:hover::before {
  opacity: 0.5; 
}

.project-card-idle:hover .project-card-content-idle {
  top: 0;
  opacity: 1;
}

.project-card-content-timer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: top 0.3s ease;
  opacity: 0;
  background-color: transparent;
}

.project-card-content-idle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: top 0.3s ease;
  opacity: 0;
  background-color: transparent;
}

.project-card-timer:hover .project-card-content-timer {
  top: 0;
  opacity: 1;
}

.input{
  background-color: #1E1B1E;
  color: #FEFEFE;
  border: 1px solid #8325FD;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textarea{
  resize: none;
}

.about-me-title{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #8325FD;
  padding: 1rem;
  margin: 0;
}

.about-me-p{
  font-size: 1.2rem;
  padding: 1rem;
}